*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:#e5e5e5 ;
    
}

.form{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.container{
    width: 700px;
    margin:auto ;
    padding: 2rem;
    height: 400px;
    background-color:white;
    border-radius: 50px;
    
}
.logo{
    margin: 2rem;
}
h1{
    width: 350px;
    border-bottom: 2px solid black;
    margin: auto;
}
.text{
    color: #727272;
    text-align: center;
    margin: 2rem 0;
}
.result{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
}
label{
    font-size: 20px;
    font-weight: bold;
}
input{
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
    padding: 5px 0;
    font-size: 14px;
    color: #727272;
}

button{
    padding: 0px 20px;
    height: 40px;
    margin-top: 13px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    background: #FDAD30;
    border:1px solid #FDAD30;;
    color: black;
}
.invitation{
    width: 450px;
    margin: auto;
    padding-bottom: 1rem;
}
.invite{
    padding: 15px 20px;
    width: 150px;
    text-align: center;
    background-color: #a2edb6;
    border-radius: 15px;
    font-weight: bold;
    margin: 1rem 0;
}
.sent{
    line-height: 30px;
    font-size: 18px;
}

@media screen and (max-width:600px){
.container{
    width: 80%;
    height: auto;
}
.form{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.logo{
    margin: 2rem 0;
}
h1{
    width: auto;
    border-bottom: none;
    text-align: center;
}
.result{
    display: block;
    width: 100%;
}
button{
    margin: auto;
}
.btn{
    text-align: center;
}
input{
    margin-bottom: 2rem;
}
.invitation{
    width: auto;
    margin: auto;
    padding-bottom: 2rem;
}

}
